@font-face {
  font-family: 'sega-font';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('./SEGA.woff') format('woff');
}

h1 {
  font-family: 'sega-font';
  font-weight: 200;
  color: #0ccac4;
}